@import 'imports';

body {
  background-size: cover;
  background-color: transparent;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main-wrap {
  overflow: hidden;
  background: url(../images/main_bg_c.jpg) no-repeat top center;
  background-attachment: scroll;
  background-size: cover;
  z-index: 10;
}

.btn-custom.btn-custom-red {
  background: linear-gradient(#fd3d3d, #d41010);
  color: $white;
}

.btn-order-call {
  border-radius: 30px;
  padding: 5px 15px;
  border: 2px solid $bright-blue;
  background: transparent;
  cursor: pointer;
  color: $black;
  &:hover {
    background: $bright-blue;
    color: $white;
  }
}

.btn {
  cursor: pointer;
}

.btn-custom {
  background: linear-gradient(#fde46d, #ffb121);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3),
  0 1px 2px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  color: $dark-blue;
  padding: 10px 50px;
  display: inline-block;
  position: relative;
  &:after {
    content: " ";
    position: absolute;
    top: -7px;
    right: -7px;
    left: -7px;
    bottom: -7px;
    background: #e8e8ea;
    z-index: -1;
    border-radius: 30px;
  }
}

.text-highlight {
  background: $dark-blue;
  color: #fde873;
}

.heading-info {
  color: $dark-blue;
  line-height: 1.6;
  strong {
    padding: 0 7px;
  }
}

.container {
  max-width: 1200px;
}

.main-header {
  margin-bottom: 55px;
  border-bottom: 1px solid $white;
  box-shadow: 0 2px 0 -1px #ccc;
  padding: 30px 0;
}

.main-header-middle p {
  margin: 0;
}

.main-header-phone {
  font-size: 30px;
  margin: 0;
  a {
    @include setLinkStyleAll {
      color: $dark-blue;
    }
    &:hover {
      text-decoration: none;
      color: $bright-blue;
    }
  }
}

.contact-links {
  font-size: 12px;
}

.main-content {
  flex: 1;
  position: relative;
  z-index: 101;
}

.main-content-text {
  padding-right: 20%;
}

.main-content-info {
  padding: 25px 0;
  color: $dark-blue;
}

.heading-sub-info {
  margin-top: 20px;
  margin-bottom: 60px;
  span, a {
    padding: 0 7px;
    text-transform: uppercase;
    display: inline-block;
    border-left: 2px solid $dark-blue;
    line-height: 1;
    &:first-child {
      border-left-color: transparent;
    }
  }
  a {
    @include setLinkStyleAll {
      color: $dark-blue;
      text-decoration: none;
    }
    &:hover {
      color: $bright-blue;
    }
  }
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.features {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  text-align: center;
}

.feature {
  width: 20%;
  border-right: 2px dotted $black;
  &:first-child {
    border-left: 2px dotted $black;
  }
}

.feature-title {
  color: $bright-blue;
  font-size: 24px;
}

.main-footer {
  background: $footer-bg;
  .phone {
    a {
      @include setLinkStyleAll {
        color: $white;
        text-decoration: none;
      }
      &:hover {
        color: $bright-yellow;
      }
    }
  }
}

.main-footer, .modal-main-footer {
  color: $white;
  font-size: 14px;
  margin-top: 40px;
  position: relative;
  z-index: 10;
  a {
    @include setLinkStyleAll {
      color: $white;
    }
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
  .main-footer-top {
    border-bottom: 2px solid #fde873;
  }
  .main-footer-top, .main-footer-bottom {
    padding: 15px 0;
  }
  .main-footer-bottom p {
    margin: 0;
  }
  .message-us p {
    display: inline-block;
    margin-bottom: 0;
  }
  .phone {
    font-size: 30px;
  }
  .contact-links {
    font-size: 14px;
    a { 
      text-decoration: none;
      display: inline-block;
      margin-left: 15px;
      &:hover {
        color: $bright-yellow;
      }
    }
  }
  .container {
    position: relative;
    .main-footer-top:before {
      content: " ";
      position: absolute;
      z-index: 100;
      @extend .bg-clearning_grill;
      top: -497px;
      right: -70px;
      @include media-breakpoint-down(lg) {
        display: none;
      }
    }
  }
}

.main-content-inner {
  position: relative;
  
}

// Modal
.text-underline {
  border-bottom: 2px solid $bright-yellow;
}

.modal {
  background: $modal-bg;
  // padding-right: 15px;
}

.modal-body {
  border-radius: 8px 8px 0 0;
}

.modal-2 .modal-body {
  text-align: center;
}

.modal-2 .container {
  margin-top: 100px;
}

.modal-content {
  background: transparent;
  border: 0;
}

.modal-body, .modal-footer {
  background: $white;
}

.modal-header {
  flex-direction: column;
  color: $white;
  text-align: center;
  position: relative;
  padding: 0;
  border-radius: 8px 8px 0 0;
  border: 0;
  p {
    margin-bottom: 50px;
  }
  strong {
    color: $bright-yellow;
  }
}

.modal-body .modal-title strong {
  color: $bright-yellow;
}

.modal {
  .close {
    position: absolute;
    bottom: 15px;
    right: 0;
    color: $bright-yellow;
    font-size: 16px;
    opacity: 1;
    cursor: pointer;
    border: none;
    // line-height: .5;
    background: none;
    outline: none;
    padding: 0;
    span.close-text {
      &:hover {
        border-bottom: 1px solid $bright-yellow;
      }
    }
    span.close-cross {
      vertical-align: middle;
      // font-size: 30px;
    }
  }
}

.modal-title {
  margin-bottom: 25px;
}

.modal-video {
  margin-top: 40px;
}

.modal-footer {
  border-top-color: transparent;
  display: block;
  border-radius: 0 0 8px 8px;
}

.modal-body-title .text-highlight {
  padding: 5px 7px;
  display: inline-block;
}

.modal-body-title {
  margin: 30px 0;
}

.modal-footer form {
  padding: 0 7%;
  margin-bottom: 25px;
  button[type="submit"] {
    width: 100%;
  }
  input[type='text'],
  input[type='tel'],
  input[type='email'] {
    text-align: center;
    background: #ebebeb;
    border: 0;
    border-radius: 30px;
    height: 100%;
    margin-right: 0 !important;
  }
}

input[type='text'].form-control, 
input[type='tel'].form-control, 
input[type='checkbox'].form-control,
input[type='email'] {
  outline: 0;
}

#modalTestDriveForm {
  input[type='checkbox'] {
    vertical-align: middle;
    margin-top: -1px;
  }
}

.modal-footer-title {
  margin-bottom: 30px;
}

.modal-col-bg {
  background: url(../images/modal_col_bg.jpg) no-repeat;
  background-size: cover;
  margin-top: -16px;
  margin-bottom: -16px;
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $white;
  p {
    margin-bottom: 30px;
  }
  input[type='text'],
  input[type='tel'],
  input[type='email'] {
    display: block;
    margin: auto auto 10px auto;
    text-align: center;
    border-radius: 30px;
    border: 0;
    padding: 10px 10px;
    outline: 0;
  }
  button,
  input[type='text'],
  input[type='tel'],
  input[type='email'] {
    width: 80%;
  }
}

.modal-col-bg-title {
  margin: 0;
  padding: 30px 0;
}

.modal-list-title {
  text-align: center;
  margin: 15px 0 30px 0;
}

.modal-list {
  list-style: none;
  counter-reset: item;
  margin-bottom: 15px;
  > li {
    counter-increment: item;
    &, ul {
      margin-top: 25px;
    }
    &:first-child {
      margin-top: 0;
    }
    &:before {
      content: counter(item)'.';
      position: relative;
      left: -20px;
      color: $bright-blue;
    }
    ul {
      list-style: none;
      li {
        position: relative;
      }
      li:before {
        content: " ";
        position: absolute;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: $bright-blue;
        top: 50%;
        margin-top: -3px;
        left: -28px;
      }
    }
  }
}

.modal-col-bg .modal1-confirm {
  font-size: 11px;
  @extend %roboto-medium;
  margin: 30px auto 0 auto;
  width: 80%;
}

.blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.modal-small {
  .modal-header, .modal-footer {
    padding: 0 30px;
  }
  .modal-dialog {
    max-width: 400px;
  }
  .modal-header {
    background: $white;
    color: $dark-blue;
    border-bottom: 0;
  }
  .modal-footer {
    border-top: 0;
  }
  input {
    width: 100%;
  }
  .close {
    top: -30px;
    bottom: auto;
  }
}

.modal-center.modal-dialog {
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
  @media(max-width: 768px) {
    min-height: calc(100vh - 20px);
  }
}

#ModalDownload {
  .modal-content {
    margin-top: 50px;
  }
}

#ModalDownloadTitle {
  font-size: 30px !important;
  @extend %amazing-grotesk-demi;
  padding: 0 20px;
  margin-top: 25px;
  strong {
    background: $dark-blue;
    padding: 0 10px;
  }
}

#modalDownloadForm {
  .form-check-label {
    a {
      @include setLinkStyleAll {
        text-decoration: underline;
        color: $white;
      }
      &:hover {
        text-decoration: none;
      }
    }
  }
}

#modalTestDriveForm {
  .form-check-label {
    a {
      @include setLinkStyleAll {
        text-decoration: underline;
        color: #212529;
      }
      &:hover {
        text-decoration: none;
      }
    }
  }
}

#ModalThanksApplication, #ModalThanksOrderCall {
  .modal-header {
    border-radius: 8px;
    padding: 35px 15px;
    p {
      margin-bottom: 0;
    }
  }
  .modal-title {
    @extend %amazing-grotesk-ultra;
    font-size: 21px;
  }
}

.modal-thanks {
  max-width: 660px;
  background: $white;
  position: absolute;
  left: 50%;
  margin-left: -330px;
  z-index: 2000;
  @extend .text-center;
  padding: 0 15px 23px 15px;
  min-height: 400px;
  top: 50%;
  margin-top: -(515px / 2);
  border-radius: 8px;
  strong {
    color: $bright-blue;
    text-transform: uppercase;
  }
  opacity: 1;
  transition: opacity 0.15s linear;
  &.not-show {
    opacity: 0;
    display: none;
  }
}

.thanks-close {
  position: absolute;
  right: 0;
  background: linear-gradient(#fde36c, #ffb628);
  border-radius: 50%;
  padding: 5px;
  top: -18px;
  right: -15px;
  transition: .3s;
  &:hover {
    cursor: pointer;
  }
}

.modal-blurred.blur {
  opacity: 1;
  transition: all 0.15s linear;
  &:after {
    content: " ";
    position: absolute;
    left: 0; right: 0;
    bottom: 0; top: 0;
    z-index: 1900px;
    background: $modal-bg;
  }
  &.not-show {
    opacity: 0;
  }
}

.modal-open {
  .main-wrap {
    @extend .blur;
  }
}

.modal-order-call {
  .moadl-body {
    border-radius: 8px;
    overflow: hidden;
  }
}

.modal-order-call, .modal-thanks {
  input {
    padding: 10px;
    margin-bottom: 10px !important;
  }
  .modal-title {
    margin-top: 30px;
    margin-bottom: 0;
  }
  form {
    margin-bottom: 30px;
  }
  p {
    margin: 30px 0;
  }
}

.modal-test-drive-confirm {
  @extend .text-center;
  margin-top: 45px;
  margin-left: auto;
  margin-right: auto;
}

#modalTestDriveForm {
  input[type='text'],
  input[type='tel'],
  input[type='email'] {
    width: 100%;
  }
}

.form-check-inline input[type='checkbox'] {
  vertical-align: middle;
  margin-top: -1px;
}

.form-control.error, .form-check-input.error {
  box-shadow: 0 0 2px 2px red;
}

label.error {
  @extend .sr-only;
}

#modalOrderCallName {
  margin-top: 2px;
}
// Modal

// Media
@include media-breakpoint-down(lg) {
  .col-logo {
    text-align: center;
  }
  .main-header-middle {
    margin: 30px 0;
  }
  .btn-order-call {
    margin-top: 30px;
  }
  .col-phone.text-right {
    text-align: center !important;
  }
  .main-footer {
    &, p, .contact-links, .container:before {
      text-align: center !important;
    }
    .phone {
      margin: 30px 0;
    }
  }
  .main-footer-logo {
    margin: 30px 0;
  }
  .modal-footer form {
    padding: 0 20%;
    .col-lg-6 {
      margin-top: 7px;
    }
    input[type='text'],
    input[type='tel'],
    input[type='email'] {
      width: 100%;
      padding: 10px 50px;
    }
  }
  .modal-list {
    margin-bottom: 50px;
  }
  .modal-col-bg {
    padding-top: 50px;
    padding-bottom: 50px;
    background-position: center center;
  }
}

@include media-breakpoint-down(md) {
  .video-content {
    flex-direction: column;
    align-items: center;
  }
  .main-content-text {
    text-align: center;
    padding-right: 0;
    margin-top: 50px;
  }
  .features {
    flex-direction: column;
    align-items: center;
  }
  .feature {
    border-right-color: transparent;
    border-top: 2px dotted $black;
    padding: 20px 0;
    &:first-child {
      border-left-color: transparent;
    }
    &:last-child {
      border-bottom: 2px dotted $black;
    }
  }
  .modal-title {
    margin-bottom: 45px;
  }
}

@include media-breakpoint-down(sm) {
  .modal-thanks {
    left: 0;
    right: 0;
    top: 0;
    bottom: auto;
    margin: auto;
    .btn-video {
      margin: auto;
      width: 100%;
      padding: 10px;
      text-align: center;
    }
  }
  .modal-footer form {
    padding-right: 0;
    padding-left: 0;
  }
  .feature {
    width: 60%;
  }
  .heading-info {
    font-size: 24px;
  }
  .heading-sub-info {
    margin-top: 40px;
    a {
      display: block;
      margin-top: 15px;
      padding-bottom: 15px;
      border-left: 0;
      border-bottom: 2px solid $dark-blue;
    }
  }
  .modal-list {
    padding-left: 20px;
    ul {
      padding-left: 25px;
    }
  }
}

@media screen and (max-width: 1200px) {
  #modalTestDriveForm {
    padding-left: 0;
    padding-right: 0;
  }
}

.modal-footer {
  position: relative;
  &:before {
    content: " ";
    position: absolute;
    left: 1px; right: 1px;
    top: -1px;
    background: white;
    height: 3px;
  }
}

.heading-sub-info a {
  pointer-events: none;
}