@import "mixins";
@import "typography";

// bower:scss
// @import "bower_components/bootstrap/scss/bootstrap.scss";

@import "bower_components/bootstrap/scss/functions";
@import "bower_components/bootstrap/scss/variables";
@import "custom";
@import "bower_components/bootstrap/scss/mixins";
@import "bower_components/bootstrap/scss/print";
@import "bower_components/bootstrap/scss/reboot";
@import "bower_components/bootstrap/scss/type";
@import "bower_components/bootstrap/scss/images";
// @import "bower_components/bootstrap/scss/code";
@import "bower_components/bootstrap/scss/grid";
// @import "bower_components/bootstrap/scss/tables";
// @import "bower_components/bootstrap/scss/forms";
@import "bower_components/bootstrap/scss/buttons";
@import "bower_components/bootstrap/scss/transitions";
// @import "bower_components/bootstrap/scss/dropdown";
// @import "bower_components/bootstrap/scss/button-group";
// @import "bower_components/bootstrap/scss/input-group";
// @import "bower_components/bootstrap/scss/custom-forms";
// @import "bower_components/bootstrap/scss/nav";
// @import "bower_components/bootstrap/scss/navbar";
// @import "bower_components/bootstrap/scss/card";
// @import "bower_components/bootstrap/scss/breadcrumb";
// @import "bower_components/bootstrap/scss/pagination";
// @import "bower_components/bootstrap/scss/badge";
// @import "bower_components/bootstrap/scss/jumbotron";
// @import "bower_components/bootstrap/scss/alert";
// @import "bower_components/bootstrap/scss/progress";
@import "bower_components/bootstrap/scss/media";
// @import "bower_components/bootstrap/scss/list-group";
// @import "bower_components/bootstrap/scss/close";
@import "bower_components/bootstrap/scss/modal";
// @import "bower_components/bootstrap/scss/tooltip";
// @import "bower_components/bootstrap/scss/popover";
// @import "bower_components/bootstrap/scss/carousel";
@import "bower_components/bootstrap/scss/utilities";
// endbower

@import "sprite";

body {
  background-size: cover;
  background-color: transparent;
  background-attachment: fixed;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main-wrap {
  overflow: hidden;
  background: url(../images/main_bg_c.jpg) no-repeat top center;
  background-attachment: fixed;
  z-index: 10;
}

.btn-order-call {
  border-radius: 30px;
  padding: 5px 15px;
  border: 2px solid $bright-blue;
  background: transparent;
  cursor: pointer;
  color: $black;
  &:hover {
    background: $bright-blue;
    color: $white;
  }
}

.btn {
  cursor: pointer;
}

.btn-custom {
  background: linear-gradient(#fde46d, #ffb121);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  color: $dark-blue;
  padding: 10px 50px;
  display: inline-block;
  position: relative;
  &:after {
    content: " ";
    position: absolute;
    top: -7px;
    right: -7px;
    left: -7px;
    bottom: -7px;
    background: #e8e8ea;
    z-index: -1;
    border-radius: 30px;
  }
}

.text-highlight {
  background: $dark-blue;
  color: #fde873;
}

.heading-info {
  color: $dark-blue;
  line-height: 1.6;
  strong {
    padding: 0 7px;
  }
}

.container {
  max-width: 1200px;
}

.main-header {
  margin-bottom: 55px;
  border-bottom: 1px solid $white;
  box-shadow: 0 2px 0 -1px #ccc;
  padding: 30px 0;
}

.main-header-middle p {
  margin: 0;
}

.main-header-phone {
  font-size: 30px;
  margin: 0;
}

.contact-links {
  font-size: 12px;
  a {
    // padding-left: 20px;
  }
}

.main-content {
  flex: 1;
  position: relative;
  z-index: 101;
}

.main-content-text {
  padding-right: 20%;
}

.main-content-info {
  padding: 25px 0;
  color: $dark-blue;
}

.heading-sub-info {
  margin-top: 20px;
  margin-bottom: 60px;
  span, a {
    padding: 0 7px;
    text-transform: uppercase;
    display: inline-block;
    border-left: 2px solid $dark-blue;
    line-height: 1;
    &:first-child {
      border-left-color: transparent;
    }
  }
  a {
    @include setLinkStyleAll {
      color: $dark-blue;
      text-decoration: none;
    }
    &:hover {
      color: $bright-blue;
    }
  }
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.features {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  text-align: center;
}

.feature {
  width: 20%;
  border-right: 2px dotted $black;
  &:first-child {
    border-left: 2px dotted $black;
  }
}

.feature-title {
  color: $bright-blue;
  font-size: 24px;
}

.main-footer {
  background: $footer-bg;
  color: $white;
  font-size: 14px;
  margin-top: 40px;
  position: relative;
  z-index: 10;
  a {
    @include setLinkStyleAll {
      color: $white;
    }
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
  .main-footer-top {
    border-bottom: 2px solid #fde873;
  }
  .main-footer-top, .main-footer-bottom {
    padding: 15px 0;
  }
  .main-footer-bottom p {
    margin: 0;
  }
  .message-us p {
    display: inline-block;
    margin-bottom: 0;
  }
  .phone {
    font-size: 30px;
  }
  .contact-links {
    font-size: 14px;
    a { 
      text-decoration: none;
      display: inline-block;
      margin-left: 15px;
      &:hover {
        color: $bright-yellow;
      }
    }
  }
  .container {
    position: relative;
    .main-footer-top:before {
      content: " ";
      position: absolute;
      z-index: 100;
      @extend .bg-clearning_grill;
      top: -497px;
      right: -70px;
      z-index: -1;
      @include media-breakpoint-down(lg) {
        display: none;
      }
    }
  }
}

.main-content-inner {
  position: relative;
  
}

// Modal
.text-underline {
  border-bottom: 2px solid $bright-yellow;
}

.modal {
  background: rgba(32,30,52,.75);
  padding-right: 15px;
}

.modal-2 .modal-body {
  text-align: center;
}

.modal-content {
  background: transparent;
  border: 0;
}

.modal-body, .modal-footer {
  background: $white;
}

.modal-header {
  flex-direction: column;
  color: $white;
  text-align: center;
  position: relative;
  padding: 0;
  p {
    margin-bottom: 50px;
  }
  strong {
    color: $bright-yellow;
  }
  .close {
    position: absolute;
    bottom: 15px;
    right: 0;
    color: $bright-yellow;
    font-size: 16px;
    opacity: 1;
    cursor: pointer;
    border: none;
    line-height: .5;
    background: none;
    outline: none;
    padding: 0;
    span.close-text {
      &:hover {
        border-bottom: 1px solid $bright-yellow;
      }
    }
    span.close-cross {
      vertical-align: middle;
      font-size: 30px;
    }
  }
}

.modal-title {
  margin-bottom: 25px;
}

.modal-video {
  margin-top: 40px;
}

.modal-footer {
  border-top-color: transparent;
  display: block;
}

.modal-body-title .text-highlight {
  padding: 5px 7px;
  display: inline-block;
}

.modal-body-title {
  margin: 30px 0;
}

.modal-footer form {
  padding: 0 7%;
  margin-bottom: 25px;
  button[type="submit"] {
    width: 100%;
  }
  input {
    text-align: center;
    background: #ebebeb;
    border: 0;
    border-radius: 30px;
    height: 100%;
    margin-right: 0 !important;
  }
}

.modal-footer-title {
  margin-bottom: 30px;
}

.modal-col-bg {
  background: url(../images/modal_col_bg.jpg) no-repeat;
  background-size: cover;
  margin-top: -16px;
  margin-bottom: -16px;
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $white;
  p {
    margin-bottom: 30px;
  }
  input {
    display: block;
    margin: auto auto 7px auto;
    text-align: center;
    border-radius: 30px;
    border: 0;
    padding: 10px 10px;
  }
  button, input {
    width: 80%;
  }
}

.modal-col-bg-title {
  margin: 0;
  padding: 30px 0;
}

.modal-list-title {
  text-align: center;
  margin: 15px 0 30px 0;
}

.modal-list {
  list-style: none;
  counter-reset: item;
  margin-bottom: 15px;
  > li {
    counter-increment: item;
    &, ul {
      margin-top: 25px;
    }
    &:first-child {
      margin-top: 0;
    }
    &:before {
      content: counter(item)'.';
      position: relative;
      left: -20px;
      color: $bright-blue;
    }
    ul {
      list-style: none;
      li {
        position: relative;
      }
      li:before {
        content: " ";
        position: absolute;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: $bright-blue;
        top: 50%;
        margin-top: -3px;
        left: -28px;
      }
    }
  }
}
// Modal

// Media
@include media-breakpoint-down(lg) {
  .col-logo {
    text-align: center;
  }
  .main-header-middle {
    margin: 30px 0;
  }
  .btn-order-call {
    margin-top: 30px;
  }
  .col-phone.text-right {
    text-align: center !important;
  }
  .main-footer {
    &, p, .contact-links, .container:before {
      text-align: center !important;
    }
    .phone {
      margin: 30px 0;
    }
  }
  .main-footer-logo {
    margin: 30px 0;
  }
  .modal-footer form {
    padding: 0 20%;
    .col-lg-6 {
      margin-top: 7px;
    }
    input {
      width: 100%;
      padding: 10px 50px;
    }
  }
  .modal-list {
    margin-bottom: 50px;
  }
  .modal-col-bg {
    padding-top: 50px;
    padding-bottom: 50px;
    background-position: center center;
  }
}

@include media-breakpoint-down(md) {
  .video-content {
    flex-direction: column-reverse;
    align-items: center;
  }
  .main-content-text {
    text-align: center;
    padding-right: 0;
    margin-bottom: 50px;
  }
  .features {
    flex-direction: column;
    align-items: center;
  }
  .feature {
    border-right-color: transparent;
    border-top: 2px dotted $black;
    padding: 20px 0;
    &:first-child {
      border-left-color: transparent;
    }
    &:last-child {
      border-bottom: 2px dotted $black;
    }
  }
  .modal-title {
    margin-bottom: 45px;
  }
}

@include media-breakpoint-down(sm) {
  .modal-footer form {
    padding-right: 0;
    padding-left: 0;
  }
  .feature {
    width: 60%;
  }
  .heading-info {
    font-size: 24px;
  }
  .heading-sub-info {
    margin-top: 40px;
    a {
      display: block;
      margin-top: 15px;
      padding-bottom: 15px;
      border-left: 0;
      border-bottom: 2px solid $dark-blue;
    }
  }
  .modal-list {
    padding-left: 20px;
    ul {
      padding-left: 25px;
    }
  }
}