#ModalThanks.modal.modal-3.modal-small.fade(tabindex='-1', role='dialog', aria-labelledby='thanksModalLabel', aria-hidden='true')
  .container
    .modal-dialog.modal-center.modal-lg(role='document')
      .modal-content
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span.close-cross(aria-hidden='true') ×
        .modal-header
          h5#thanksModalLabel.modal-title Спасибо!
          p что заинтересовались нашим предложением по франшизе!
          p Файлы придут вам на почту в течение 3-х минут
          p А пока вы можете посмотреть видео,
            | где собственник рассказывает о том,
            | как бесплатно в своем городе,
            | можно проверить нашу франшизу
        .modal-footer
            button.btn.btn-custom.btn-video(type='button') Посмотреть видео