#Modal2.modal.modal-2.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
  .container
      .modal-dialog.modal-lg(role='document')
        .modal-content
          .modal-header
            h5#exampleModalLabel.modal-title
              | Спасибо, что заинтересовались нашим <strong>предложением по франшизе!</strong>
              | Файлы придут вам на почту <span class="text-underline">в течение 3-х минут</span>
            p 
              | А пока вы можете посмотреть видео, где собственник рассказывает о том, как <strong>бесплатно</strong>
              | в своем городе, можно <strong>проверить нашу франшизу</strong>
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span.close-text Закрыть&nbsp;
              span.close-cross(aria-hidden='true') ×
          .modal-body
              h6.modal-body-title
                | <strong class="text-highlight">БЕСПЛАТНЫЙ ТЕСТ-ДРАЙВ</strong> франшизы 
                | <span class="text-highlight-quotes">“Эксперт Клининг”</span> в Вашем городе
              h6.modal-body-subtitle ЛЕГКИЙ СПОСОБ ПРОВЕРИТЬ АКТУАЛЬНОСТЬ ФРАНШИЗЫ БЕЗ ЛИШНИХ ЗАТРАТ
              .row.justify-content-center.modal-video
                .col-md-12
                  .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(src='https://www.youtube.com/embed/zpOULjyy-n8?rel=0', allowfullscreen='')
          .modal-footer
            h6.modal-footer-title.text-center Запишитесь на тест-драйв франшизы
            
            form
              .row
                .col-lg-6
                  label.sr-only(for='modal1FormCity') Ваш город
                  input#modal1FormCity.form-control.mb-2.mr-sm-2.mb-sm-0(type='text', placeholder='Ваш город')
                .col-lg-6
                  label.sr-only(for='modal1FormName') Ваше имя
                  input#modal1FormName.form-control.mb-2.mr-sm-2.mb-sm-0(type='text', placeholder='Ваше Имя')
                .col-lg-6
                  label.sr-only(for='modal1FormPhone') Ваш телефон
                  input#modal1FormPhone.form-control.mb-2.mr-sm-2.mb-sm-0(type='tel', placeholder='+7 (___) ___-__-__')
                .col-lg-6
                  button.btn.btn-custom(type='submit') Записаться