#ModalThanksOrderCall.modal.modal-4.modal-small.fade(tabindex='-1', role='dialog', aria-labelledby='thanksModalOrderCallLabel', aria-hidden='true')
  .container
    .modal-dialog.modal-center.modal-lg(role='document')
      .modal-content
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span.close-text Закрыть&nbsp;
          span.close-cross(aria-hidden='true') ×
        .modal-header
          h5#thanksModalOrderCallLabel.modal-title Спасибо!
          p Мы свяжемся с Вами в самое ближайшее время.