#Modal1.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLongTitle', aria-hidden='true')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h5#exampleModalLongTitle.modal-title Заполните форму и <strong>получите бесплатно 5 полезных файлов</strong> по запуску клининговой компании в 2017-2018 году
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          | Закрыть&nbsp;
          span(aria-hidden='true') ×
      .modal-body
        .row
            .col-12
                h6 ФАЙЛЫ ДЛЯ СКАЧИВАНИЯ
                ol
                    li Презентация франшизы клининговой компании «ЭКСПЕРТ-КЛИНИНГ» (PDF)
                        ul
                            li Что входит в франшизу;
                            li Стоимость франшизы;
                            li Часто задаваемые вопросы;
                    li Финансовая модель (выручка, персонал, расходы, прибыль):
                        ul
                            li Как заработать от 150 000 рублей на клининговых услугах;
                            li Как заработать от 300 000 рублей на клининговых услугах;
                    li Бизнес-план клининговой компании «ЭКСПЕРТ-КЛИНИНГ»:
                        ul
                            li Краткий инвестиционный меморандум;
                            li Описание бизнеса;
                            li Описание рынка покупателей;
                            li Продажи и маркетинг;
                            li Организационная структура;
                            li Факторы риска.
                    li Чек лист «Как определить прибыльность клининговой компании в своем городе»:
                        ul
                            li 7 критериев для работы с частными лицами;
                            li 5 критериев работы с юридическим заказчиком;
                            li Наличие тендеров в вашем регионе.
                    li Топ 30 самых прибыльных услуг в клининговом бизнесе в 2017-2018 году.
            .col-12
                h6 Заполните форму
                p и получите 5 файлов<br /> в течение 3-х минут
                button.btn.btn-custom(type="button") Скачать
      .modal-footer
        button.btn.btn-secondary(type='button', data-dismiss='modal') Close
        button.btn.btn-primary(type='button') Save changes