footer.main-footer
    .container
        .main-footer-top
            .row.align-items-center
                .col-lg-7.main-footer-logo
                    a(href="/")
                       img(src="images/logo_white.png", alt="Эксперт Клининг") 
                .col-lg-10.message-us.text-center
                    p.text-left
                        | <span>Напишите нам:</span><br />
                        | Для потенциальных франчайзи: <a href="mailto:hello@franshiza-klining.ru">hello@franshiza-klining.ru</a><br />
                        | Для действующих франчайзи: <a href="mailto:office@franshiza-klining.ru">office@franshiza-klining.ru</a>
                .col-lg-7.text-right.phone
                    p <a href="tel:+79227465596">+7 (922) 746-55-96</a>
                    +contactLinks
        .main-footer-bottom
            .row.align-items-center
                .col-sm-8.main-footer-package
                    p Упаковка франшизы: <a href="#0">youfranch.ru</a>
                .col-sm-8.text-center
                    p
                        a(href="#0") Политика конфиденциальности
                .col-sm-8.text-right
                    p <small>&copy; 2017 Все права защищены.</small>