footer.main-footer
    .container
        .main-footer-top
            .row.align-items-center
                .col-lg-4.main-footer-logo
                    a(href="/")
                       img(src="images/logo_white.png", alt="Эксперт Клининг") 
                .col-lg-4.message-us.text-center
                    p.text-left
                        | Напишите нам:<br />
                        | Для потенциальных франчайзи: <a href="#0">hello@franshiza-klining.ru</a><br />
                        | Для действующих франчайзи: <a href="#0">office@franshiza-klining.ru</a>
                .col-lg-4.text-right.phone
                    p +7 (922) 750-50-55
                    +contactLinks
        .main-footer-bottom
            .row.align-items-center
                .col-4
                    p Упаковка франшизы: <a href="#0">youfranch.ru</a>
                .col-4.text-center
                    p
                        a(href="#0") Политика конфиденциальности
                .col-4.text-right
                    p &copy; 2017 Все права защищены.