header.main-header.container
    .row.align-items-center
        .col-lg-8.col-logo
            h1
                a(href="/")
                    img(src="images/logo_blue.png", alt="Эксперт Клининг")
        .col-lg-8.text-center.main-header-middle
            p Франшиза клининговой компании<br /> «Эксперт Клининг»
        .col-lg-8.col-phone.text-right
            p.main-header-phone +7 (922) 750-50-55
            +contactLinks
            button.btn.btn-order-call(type="button", data-toggle="modal", data-target="#Modal3") Заказать звонок