- var desc = 'Получайте по 30 заявок в неделю на клининговые услуги и зарабатывайте от 300 000 руб/мес';
- var title = 'Эксперт Клининг — Франшиза';
- var formEmail = 'antiantiemail@mailinator.com';

mixin social
    meta(name='keywords', content='клининговая франшиза, клининговые услуги, уборка квартир, домов, офисов')
    meta(name='image', content='http://res.cloudinary.com/dvbyognrh/image/upload/v1513060997/random/expertcleaning_logo_social.jpg')
    meta(name='original-source', content='http://expertklining-franch.ru')
    link(rel='canonical', href='http://expertklining-franch.ru')
    meta(property='og:locale', content='ru_RU')
    meta(property='og:type', content='website')
    meta(property='og:title', content='Эксперт Клининг')
    meta(property='og:description', content='Получайте по 30 заявок в неделю на клининговые услуги и зарабатывайте от 300 000 руб/мес')
    meta(property='og:url', content='http://expertklining-franch.ru')
    meta(property='og:site_name', content='Эксперт Клининг')
    meta(property='og:image', content='https://expertcleaning.ru/images/expertcleaning.ru_social.png')
    meta(property='og:image:secure_url', content='http://res.cloudinary.com/dvbyognrh/image/upload/v1513060997/random/expertcleaning_logo_social.jpg')
    meta(name='twitter:title', content='Эксперт Клининг')
    meta(name='twitter:image', content='http://res.cloudinary.com/dvbyognrh/image/upload/v1513060997/random/expertcleaning_logo_social.jpg')
    meta(name='twitter:description', content='Получайте по 30 заявок в неделю на клининговые услуги и зарабатывайте от 300 000 руб/мес')
    meta(name='twitter:card', content='http://res.cloudinary.com/dvbyognrh/image/upload/v1513060997/random/expertcleaning_logo_social.jpg')
    meta(name='twitter:site', content='@ЭкспертКлининг')

//- https://www.favicon-generator.org/
mixin favicon
    link(rel='apple-touch-icon', sizes='57x57', href='/apple-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='60x60', href='/apple-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/apple-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='/apple-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/apple-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='/apple-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='/apple-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='/apple-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='/apple-icon-180x180.png')
    link(rel='icon', type='image/png', sizes='192x192', href='/android-icon-192x192.png')
    link(rel='icon', type='image/png', sizes='32x32', href='/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='96x96', href='/favicon-96x96.png')
    link(rel='icon', type='image/png', sizes='16x16', href='/favicon-16x16.png')
    link(rel='manifest', href='/manifest.json')
    meta(name='msapplication-TileColor', content='#ffffff')
    meta(name='msapplication-TileImage', content='/ms-icon-144x144.png')
    meta(name='theme-color', content='#ffffff')
    
mixin ga
    // Google Analytics: change UA-XXXXX-X to be your site's ID.
    script.
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
      
mixin jsonLD
    script(type='application/ld+json').
      {"@context": "http://schema.org", "@type": "WebSite", "url": "http://expertklining-franch.ru", "name": "Эксперт Клининг — Франшиза", "author":{"@type": "Person", "name": "http://youfranch.ru"}, "description": "Получайте по 30 заявок в неделю на клининговые услуги и зарабатывайте от 300 000 руб/мес", "publisher": "http://youfranch.ru"}
    script(type='application/ld+json').
      {"@context": "http://schema.org", "@type": "Organization", "url": "http://expertklining-franch.ru", "sameAs": [ "https://www.facebook.com/expertklining-franch/", "https://www.instagram.com/expertklining-franch/", "https://twitter.com/expertklining-franch"], "@id": "#organization", "name": "Эксперт Клининг — Франшиза", "logo": "http://res.cloudinary.com/dvbyognrh/image/upload/v1513060997/random/expertcleaning_logo_social.jpg"}
