mixin contactLinks
    .contact-links
        a.contact-link(href="#0") <i class="icon contact-link-viber"></i> Viber
        a.contact-link(href="#0") <i class="icon contact-link-whatsapp"></i> WhatsApp
        a.contact-link(href="#0") <i class="icon contact-link-telegram"></i> Telegram
        
mixin feature(title, desc)
    section.feature
        header
            h4.feature-title= title
        .feature-description= desc
        
mixin headingSubSpan
    p.text-center.heading-sub-info
      span ПРОДВИЖЕНИЕ
      span ТЕНДЕРНЫЙ ОТДЕЛ
      span КНИГА ПРОДАЖ
      
mixin headingSubAnchor
    p.text-center.heading-sub-info
      a(href="#0") ПРОДВИЖЕНИЕ
      a(href="#0") ТЕНДЕРНЫЙ ОТДЕЛ
      a(href="#0") ОБУЧАЮЩИЙ ЦЕНТР
      
mixin mainFooterBottom
    .main-footer-bottom
        .row.align-items-center
            .col-sm-8.main-footer-package
                p Упаковка франшизы: <a href="#0">youfranch.ru</a>
            .col-sm-8.text-center
                p
                    a(href="#0") Политика конфиденциальности
            .col-sm-8.text-right
                p <small>&copy; 2017 Все права защищены.</small>