mixin contactLinks
    .contact-links
        a.contact-link(href="#0") <i class="icon contact-link-viber"></i> Viber
        a.contact-link(href="#0") <i class="icon contact-link-whatsapp"></i> WhatsApp
        a.contact-link(href="#0") <i class="icon contact-link-telegram"></i> Telegram
        
mixin feature(title, desc)
    section.feature
        header.feature-title= title
        .feature-description= desc