mixin contactLinks
    .contact-links
        a.contact-link(href="#0") <i class="icon contact-link-viber"></i> Viber
        a.contact-link(href="#0") <i class="icon contact-link-whatsapp"></i> WhatsApp
        a.contact-link(href="#0") <i class="icon contact-link-telegram"></i> Telegram
        
mixin feature(title, desc)
    section.feature
        header
            h4.feature-title= title
        .feature-description= desc
        
mixin headingSubSpan
    p.text-center.heading-sub-info
      span ПРОДВИЖЕНИЕ
      span ТЕНДЕРНЫЙ ОТДЕЛ
      span КНИГА ПРОДАЖ
      
mixin headingSubAnchor
    p.text-center.heading-sub-info
      a(href="#0") ПРОДВИЖЕНИЕ
      a(href="#0") ТЕНДЕРНЫЙ ОТДЕЛ
      a(href="#0") КНИГА ПРОДАЖ